/*
!.gitignore
!README.md
!mine_data/
!download_topography.sh
!display_mines.py
!facility.txt
!facilities.gif
!mines_by_type.png
!mines_by_latitude.png
!elevation.py
!elevation.txt
!elevation_histrogram.py
!mines_by_elevation.png